
body {
    background-image: url('IMG20200211204911.jpg');
    background-size: cover;
    background-position: center 30%;
}

div.site {
    position: absolute;
    width: 70%;
    left: 15%;
    height: 100%;
}

div.head {
    width: 100%;
    height: auto;
}

div.content {
    width: 100%;
    height: auto;
    margin-top: 20px;
    background-color: hsla(0, 11%, 81%, 0.63);
    border-radius: 17px;
}

div.insta {
    background-color: hsla(0, 11%, 81%, 0.63);
    border-radius: 17px;
}


div.footer {
    width: 100%;
    height: auto;
    position: relative;
    bottom: 0;
    background-color: gray;
}


.logo{
    width: 30%;
    position: relative;
    left: 35%;
    top: 50px;
}

h1 {
    width: 30%;
    position: relative;
    left: 35%;
    margin-top: 3%;
    color: white;
}

p{
    padding: 10px;
    color: black;
}
