html {
    /* margin: 0; */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
    /* scroll-snap-type: mandatory; */
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

body{
    margin:0;
}

section{
    height: 100vh;
    color: white;
    scroll-snap-align: start;
    margin: 0;
}

.head {
    /* height: 100vh; */
    background-image: url('IMG20200211204911.jpg');
    background-size: cover;
    background-position: center 50%;
}

.wij {
    background-color: rgb(47, 47, 47);
}

.sem{
    background-color: rgb(93, 93, 93);
}

.insta {
    background-color: rgb(143, 137, 137);
}

.sponsoren{
    background-color: rgb(24, 26, 27);
}


.logo{
    width: 30%;
    position: relative;
    top: 40%;
    left: 8%;
}

h1 {
    width: 30%;
    position: absolute;
    left: 60%;
    margin-top: 3%;
    color: white;
    top: 40%;
    font-size: 5vh;
}

p{
    padding: 10px;
    margin: 0;
}


div.arrow {
	width: 6vmin;
	height: 6vmin;
	box-sizing: border-box;
    position: absolute;
    left:49%;
	top: 90vh;
    transform: rotate(135deg);
    margin: 0;
}

div.arrow:before {
    content: '';
    width: 100%;
    height: 100%;
    border-width: .8vmin .8vmin 0 0;
    border-style: solid;
    border-color: #fafafa;
    transition: .2s ease;
    display: block;
    transform-origin: 100% 0;
}


div.arrow:after {
    content: '';
    float: left;
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    border-width: 0 .8vmin 0 0;
    border-style: solid;
    border-color: #fafafa;
    transform-origin: 100% 0;
    transition:.2s ease;
}

div.arrow:hover:after {
    transform: rotate(45deg);
    border-color: orange;
    height: 120%;
}
div.arrow:hover:before {
    border-color: orange;
    transform: scale(.9);

}

div.arrow.a2{
    top: 190vh;
}

div.arrow.a3{
    top:290vh;
}

div.arrow.a4{
    top: 390vh;
}



@media (max-width: 400px){
    html{
        scroll-snap-type: y proximity;
    }
}
